.chat-wrapper,
.chat-container {
    display: flex;
    border-radius: 12px;
    border: 1px solid #ddd;
    overflow: hidden;
    height: 75vh;
    background: #fff;
}

/* LISTA */
.chat-list {
    width: 28%;
    border-right: 1px solid #eee;
    background: #f7f8fa;
    padding: 15px;
    overflow-y: auto;
}

.chat-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    background: white;
    margin-bottom: 10px;
}

.chat-item:hover {
    background: #eaf4ff;
}

.avatar {
    width: 42px;
    height: 42px;
    background: #cde;
    border-radius: 50%;
}

.chat-empty {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
}

/* CHAT */
.chat-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    font-weight: 600;
}

.chat-messages {
    padding: 15px;
    flex: 1;
    overflow-y: auto;
    background: #f3f2f7;
}

/* BUBBLES */
.msg {
    max-width: 70%;
    padding: 10px 14px;
    margin-bottom: 12px;
    border-radius: 10px;
    position: relative;
}

.msg small {
    display: block;
    text-align: right;
    font-size: 10px;
    margin-top: 5px;
    opacity: 0.7;
}

/* Recebida */
.msg-received {
    background: white;
    border: 1px solid #ddd;
}

/* Enviada */
.msg-sent {
    background: #d2f9d2;
    margin-left: auto;
}

/* INPUT */
.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
    background: #fff;
}

.chat-input input {
    flex: 1;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px 10px;
}

.chat-input button {
    background: #0d6efd;
    border: none;
    padding: 0 18px;
    color: white;
    border-radius: 8px;
    margin-left: 10px;
}

.unread-badge {
    background: #0d6efd;
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    margin-left: auto;
}
.chat-item {
    position: relative;
}
